<h2>@ViewBag.Title</h2>
<P>@ViewBag.Message</P>
<div class="form-inline align-bottom">
    <div class="card" style="width:300px; height:400px;">
        <div class="card-body">
            <h4 class="card-title">@ViewBag.Teacher</h4>
            <p class="card-text">@ViewBag.TeacherDesc</p>
        </div>
        <img class="card-img-bottom rounded" src="~/Content/images/SaeedRajae.jpg" alt="Card image" style="width:100%">
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card" style="width:300px; height:400px;">
        <img class="card-img-bottom rounded" src="~/Content/images/MAkhavanSaleh.png" alt="image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">@ViewBag.Student</h4>
            <p class="card-text">@ViewBag.StudentDesc</p>
        </div>
    </div>
</div>
