@model CentralSecurityProject.Models.Security.AppUserModel
<h4><i class="glyphicon glyphicon-apple"></i>تعریف @ViewBag.Title</h4>
<hr />

@using (Html.BeginForm("Create", "AppUser", new { UserId = ViewBag.UserId, ApplicationId = ViewBag.ApplicationId }, FormMethod.Post, htmlAttributes: new { }))
{
    @Html.AntiForgeryToken()

    <div class="form-group row">
        @Html.LabelFor(m => m.ApplicationId, htmlAttributes: new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.ApplicationId, (SelectList)ViewBag.Applications, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ApplicationId, "", new { @class = "text-danger field-validation-error" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.UserId, htmlAttributes: new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.UserId, (SelectList)ViewBag.Users, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger field-validation-error" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.IsActive, htmlAttributes: new { @class = "col-md-2 col-form-label" })
        <div class="col-md-1">
            @Html.CheckBoxFor(m => m.IsActive, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.IsActive, "", new { @class = "text-danger field-validation-error" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.IsAdmin, htmlAttributes: new { @class = "col-md-2 col-form-label" })
        <div class="col-md-1">
            @Html.CheckBoxFor(m => m.IsAdmin, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.IsAdmin, "", new { @class = "text-danger field-validation-error" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.LastMachineName, htmlAttributes: new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastMachineName, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastMachineName, "", new { @class = "text-danger field-validation-error" })
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-2 col-md-10">
            <input type="submit" value="ثبت" class="btn btn-success" />
            @Html.ActionLink("بازگشت", "Index", "AppUser", new { UserId = ViewBag.UserId, ApplicationId = ViewBag.ApplicationId }, htmlAttributes: new { @class = "btn btn-secondary" })
        </div>
    </div>
}
