@model IEnumerable<CentralSecurityProject.ViewModels.Security.RequestViewModel>
<h4><i class="glyphicon glyphicon-alert"></i>@ViewBag.Title</h4>
<hr />

<div class="col-md-12">
    @Html.CustomActionLink(Resources.Resource.Create, "Create", "Request", null, actionLinkType: CentralSecurityProject.Common.ActionLinkType.Create) |
    @{
        if (ViewBag.ID != null)
        {
            if (ViewBag.ReqStatusId != 1)
            {
                @Html.CustomActionLink(Resources.Resource.Edit, "Edit", "Request", new { id = @ViewBag.ID }, linkClass: "btn btn-secondary btn-sm disabled", actionLinkType: CentralSecurityProject.Common.ActionLinkType.Edit)
                <a>|</a>
                @Html.CustomActionLink(Resources.Resource.Delete, "Delete", "Request", new { id = @ViewBag.ID }, linkClass: "btn btn-secondary btn-sm disabled", actionLinkType: CentralSecurityProject.Common.ActionLinkType.Delete)
                <a>|</a>
                @Html.CustomActionLink(Resources.Resource.Details, "Details", "Request", new { id = @ViewBag.ID }, linkClass: "btn btn-secondary btn-sm disabled", actionLinkType: CentralSecurityProject.Common.ActionLinkType.Details)
            }
            else
            {
                @Html.CustomActionLink(Resources.Resource.Edit, "Edit", "Request", new { id = @ViewBag.ID }, actionLinkType: CentralSecurityProject.Common.ActionLinkType.Edit)
                <a>|</a>
                @Html.CustomActionLink(Resources.Resource.Delete, "Delete", "Request", new { id = @ViewBag.ID }, actionLinkType: CentralSecurityProject.Common.ActionLinkType.Delete)
                <a>|</a>
                @Html.CustomActionLink(Resources.Resource.Details, "Details", "Request", new { id = @ViewBag.ID }, actionLinkType: CentralSecurityProject.Common.ActionLinkType.Details)
            }
        }
        else
        {
            @Html.CustomActionLink(Resources.Resource.Edit, "Edit", "Request", new { id = @ViewBag.ID }, linkClass: "btn btn-secondary btn-sm disabled", actionLinkType: CentralSecurityProject.Common.ActionLinkType.Edit)
            <a>|</a>
            @Html.CustomActionLink(Resources.Resource.Delete, "Delete", "Request", new { id = @ViewBag.ID }, linkClass: "btn btn-secondary btn-sm disabled", actionLinkType: CentralSecurityProject.Common.ActionLinkType.Delete)
            <a>|</a>
            @Html.CustomActionLink(Resources.Resource.Details, "Details", "Request", new { id = @ViewBag.ID }, linkClass: "btn btn-secondary btn-sm disabled", actionLinkType: CentralSecurityProject.Common.ActionLinkType.Details)
        }
    }
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-secondary">
                <th class="text-center"></th>
                <th class="text-center">@Html.DisplayNameFor(m => m.RequestId)</th>
                <th class="text-center">@Html.DisplayNameFor(m => m.RequestDate)</th>
                <th class="text-center">@Html.DisplayNameFor(m => m.RequestTypeName)</th>
                <th class="text-center">@Html.DisplayNameFor(m => m.RequestStatusName)</th>
                <th class="text-center">@Html.DisplayNameFor(m => m.ExpertUsername)</th>
                <th class="text-center">@Html.DisplayNameFor(m => m.PersianRequestDate)</th>
                <th class="text-center">@Html.DisplayNameFor(m => m.Response)</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>

            @{
                if (Model != null)
                {
                    foreach (CentralSecurityProject.ViewModels.Security.RequestViewModel item in Model)
                    {
                        if (ViewBag.ID != null && ViewBag.ID == @item.RequestId)
                        {
                            <tr style="background-color:#d6e0f5" class="text-center">
                                <td>
                                    @Html.CustomActionLink(Resources.Resource.Select, "Index", "Request", new { id = item.RequestId }, linkClass: "btn btn-primary btn-sm", actionLinkType: CentralSecurityProject.Common.ActionLinkType.Selected)
                                </td>
                                <td>@item.RequestId</td>
                                <td>@item.RequestDate</td>
                                <td>@item.RequestTypeName</td>
                                <td>@item.RequestStatusName</td>
                                <td>@item.ExpertUsername</td>
                                <td>@item.PersianRequestDate</td>
                                <td>@item.Response</td>
                                <td>
                                    @Html.CustomActionLink(Resources.Resource.History, "History", "Request", new { id = item.RequestId }, linkClass: "btn btn-info btn-sm", actionLinkType: CentralSecurityProject.Common.ActionLinkType.Details)
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr class="text-center">
                                <td>
                                    @Html.CustomActionLink(Resources.Resource.Select, "Index", "Request", new { id = item.RequestId }, linkClass: "btn btn-secondary btn-sm", actionLinkType: CentralSecurityProject.Common.ActionLinkType.Unselected)
                                </td>
                                <td>@item.RequestId</td>
                                <td>@item.RequestDate</td>
                                <td>@item.RequestTypeName</td>
                                <td>@item.RequestStatusName</td>
                                <td>@item.ExpertUsername</td>
                                <td>@item.PersianRequestDate</td>
                                <td>@item.Response</td>
                                <td>
                                    @Html.CustomActionLink(Resources.Resource.History, "History", "Request", new { id = item.RequestId }, linkClass: "btn btn-info btn-sm", actionLinkType: CentralSecurityProject.Common.ActionLinkType.Details)
                                </td>
                            </tr>
                        }
                    }
                }
            }
        </tbody>
    </table>


</div>