@model CentralSecurityProject.Models.Security.RoleModel
<h4><i class="glyphicon glyphicon-apple"></i>حذف @ViewBag.Title</h4>
<hr />

@using (Html.BeginForm("Delete", "Role", null, FormMethod.Post, htmlAttributes: new { }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.RoleId);

    <div class="form-group row">
        @Html.LabelFor(m => m.RoleCode, htmlAttributes: new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.RoleCode, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.RoleName, htmlAttributes: new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.RoleName, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.IsActive, htmlAttributes: new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.CheckBoxFor(m => m.IsActive, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.Description, htmlAttributes: new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Description, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-2 col-md-10">
            <input type="submit" value="حذف" class="btn btn-success" />
            @Html.ActionLink("انصراف", "Index", "Role", null, htmlAttributes: new { @class = "btn btn-secondary" })
        </div>
    </div>
}
