@model IEnumerable<CentralSecurityProject.Models.Security.RoleModel>
<h4><i class="glyphicon glyphicon-alert"></i>@ViewBag.Title</h4>
<hr />
<div class="col-md-12">
    @Html.ActionLink(Resources.Resource.Create, "CreateRWU", "Role", null, htmlAttributes: new { @class = "btn btn-secondary" }) |
    @{
        if (ViewBag.ID != null)
        {
            @Html.ActionLink(Resources.Resource.Edit, "Edit", "Role", new { id = @ViewBag.ID }, htmlAttributes: new { @class = "btn btn-secondary" })
            <a>|</a>
            @Html.ActionLink(Resources.Resource.Delete, "Delete", "Role", new { id = @ViewBag.ID }, htmlAttributes: new { @class = "btn btn-secondary" })
            <a>|</a>
            @Html.ActionLink(Resources.Resource.Details, "Details", "Role", new { id = @ViewBag.ID }, htmlAttributes: new { @class = "btn btn-secondary" })
        }
        else
        {
            @Html.ActionLink(Resources.Resource.Edit, "Edit", "Role", null, htmlAttributes: new { @class = "btn btn-secondary disabled" })
            <a>|</a>
            @Html.ActionLink(Resources.Resource.Delete, "Delete", "Role", null, htmlAttributes: new { @class = "btn btn-secondary disabled" })
            <a>|</a>
            @Html.ActionLink(Resources.Resource.Details, "Details", "Role", null, htmlAttributes: new { @class = "btn btn-secondary disabled" })
        }
    }
    <table class="table table-hover">
        <thead>
            <tr class="bg-secondary text-center">
                <th></th>
                <th>@Html.DisplayNameFor(m => m.RoleCode)</th>
                <th>@Html.DisplayNameFor(m => m.RoleName)</th>
                <th>@Html.DisplayNameFor(m => m.IsActive)</th>
                <th>@Html.DisplayNameFor(m => m.Description)</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (CentralSecurityProject.Models.Security.RoleModel item in Model)
                    {
                        if (ViewBag.ID != null && ViewBag.ID == @item.RoleId)
                        {
                            <tr style="background-color:#d6e0f5" class="text-center">
                                <td>
                                    @Html.ActionLink("انتخاب", "Index", "Role", new { id = item.RoleId }, htmlAttributes: new { @class = "btn btn-secondary" })
                                </td>
                                <td>@item.RoleCode</td>
                                <td>@item.RoleName</td>
                                <td>@(item.IsActive ? "فعال" : "غیر فعال")</td>
                                <td>@item.Description</td>
                            </tr>
                        }
                        else
                        {
                            <tr class="text-center">
                                <td>
                                    @Html.ActionLink("انتخاب", "Index", "Role", new { id = item.RoleId }, htmlAttributes: new { @class = "btn btn-secondary" })
                                </td>
                                <td>@item.RoleCode</td>
                                <td>@item.RoleName</td>
                                <td>@(item.IsActive ? "فعال" : "غیر فعال")</td>
                                <td>@item.Description</td>
                            </tr>
                        }
                    }
                }
            }
        </tbody>
    </table>
</div>
<hr />
<div class="col-md-12">
    @Html.Partial("UserIndex")
</div>