@model IEnumerable<CentralSecurityProject.Models.Security.ApplicationGroupModel>
<h4><i class="glyphicon glyphicon-alert"></i> @ViewBag.Title</h4>
<hr />

<div class="col-md-12">
    @*@Html.ActionLink("جدید", "Create", "ApplicationGroup", null, htmlAttributes: new { @class = "btn btn-secondary" })*@
    @*@Html.ActionLink(Resources.Resource.Create, "Create", "ApplicationGroup", null, htmlAttributes: new { @class = "btn btn-secondary" })*@
    @Html.CustomActionLink(Resources.Resource.Create, "Create", "ApplicationGroup", null, actionLinkType: CentralSecurityProject.Common.ActionLinkType.Create) |
    @{
        if (ViewBag.ID != null)
        {
            @Html.CustomActionLink(Resources.Resource.Edit, "Edit", "ApplicationGroup", new { id = @ViewBag.ID }, actionLinkType: CentralSecurityProject.Common.ActionLinkType.Edit)
            <a>|</a>
            @Html.CustomActionLink(Resources.Resource.Delete, "Delete", "ApplicationGroup", new { id = @ViewBag.ID }, actionLinkType: CentralSecurityProject.Common.ActionLinkType.Delete)
            <a>|</a>
            @Html.CustomActionLink(Resources.Resource.Details, "Details", "ApplicationGroup", new { id = @ViewBag.ID }, actionLinkType: CentralSecurityProject.Common.ActionLinkType.Details)
        }
        else
        {
            @Html.CustomActionLink(Resources.Resource.Edit, "Edit", "ApplicationGroup", new { id = @ViewBag.ID }, linkClass: "btn btn-secondary btn-sm disabled", actionLinkType: CentralSecurityProject.Common.ActionLinkType.Edit)
            <a>|</a>
            @Html.CustomActionLink(Resources.Resource.Delete, "Delete", "ApplicationGroup", new { id = @ViewBag.ID }, linkClass: "btn btn-secondary btn-sm disabled", actionLinkType: CentralSecurityProject.Common.ActionLinkType.Delete)
            <a>|</a>
            @Html.CustomActionLink(Resources.Resource.Details, "Details", "ApplicationGroup", new { id = @ViewBag.ID }, linkClass: "btn btn-secondary btn-sm disabled", actionLinkType: CentralSecurityProject.Common.ActionLinkType.Details)
        }
    }
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-secondary">
                <th class="text-center"></th>
                <th class="text-xl-center">@Html.DisplayNameFor(m => m.ApplicationGroupId)</th>
                <th class="text-xl-center">@Html.DisplayNameFor(m => m.ApplicationGroupName)</th>
                <th class="text-xl-center">@Html.DisplayNameFor(m => m.IsActive)</th>
                <th class="text-center">@Resources.Resource.Operations</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (CentralSecurityProject.Models.Security.ApplicationGroupModel item in Model)
                    {
                        if (ViewBag.ID != null && ViewBag.ID == @item.ApplicationGroupId)
                        {
                            <tr class="text-center" style="background-color:#d6e0f5">
                                <td>
                                    @Html.ActionLink(Resources.Resource.Select, "Index", "ApplicationGroup", new { id = item.ApplicationGroupId }, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
                                </td>
                                <td>@item.ApplicationGroupId</td>
                                <td class="text-right">@item.ApplicationGroupName</td>
                                <td>@(item.IsActive ? "فعال" : "غیر فعال")</td>
                                <td>
                                    @Html.CustomActionLink(Resources.Resource.Application, "Index", "Application", new { ApplicationGroupId = item.ApplicationGroupId }, linkClass: "btn btn-primary btn-sm", actionLinkType: CentralSecurityProject.Common.ActionLinkType.Details)
                                </td>
                                @*<td class="text-center">
                                        //<a class="btn btn-secondary"><i class="glyphicon glyphicon-edit"></i>ویرایش</a>
                                        //<a href="@Url.Action("Edit" , "ProductType")" class="btn btn-secondary"><i class="glyphicon glyphicon-edit"></i> ویرایش</a>
                                        @Html.ActionLink(Resources.Resource.Edit, "Edit", "ApplicationGroup", new { id = item.ApplicationGroupId }, htmlAttributes: new { @class = "btn btn-secondary" }) |
                                        @Html.ActionLink(Resources.Resource.Delete, "Delete", "ApplicationGroup", new { id = item.ApplicationGroupId }, htmlAttributes: new { @class = "btn btn-secondary" }) |
                                        @Html.ActionLink(Resources.Resource.Details, "Details", "ApplicationGroup", new { id = item.ApplicationGroupId }, htmlAttributes: new { @class = "btn btn-secondary" }) |
                                        @Html.ActionLink("برنامه ها/زیر سیستم ها", "Index", "Application", new { ApplicationGroupId = item.ApplicationGroupId }, htmlAttributes: new { @class = "btn btn-secondary" })
                                    </td>*@
                            </tr>
                        }
                        else
                        {
                            <tr class="text-center">
                                <td>
                                    @Html.ActionLink(Resources.Resource.Select, "Index", "ApplicationGroup", new { id = item.ApplicationGroupId }, htmlAttributes: new { @class = "btn btn-secondary btn-sm" })
                                </td>
                                <td>@item.ApplicationGroupId</td>
                                <td class="text-right">@item.ApplicationGroupName</td>
                                <td>@(item.IsActive ? "فعال" : "غیر فعال")</td>
                                <td>
                                    @Html.CustomActionLink(Resources.Resource.Application, "Index", "Application", new { ApplicationGroupId = item.ApplicationGroupId }, linkClass: "btn btn-secondary btn-sm disabled", actionLinkType: CentralSecurityProject.Common.ActionLinkType.Details)
                                </td>
                            </tr>
                        }
                    }
                }
            }
        </tbody>
    </table>
</div>